<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestGroups">
    <test name="Group A DEMO">
        <groups>
            <run>
                <include name="A"></include>
            </run>
        </groups>
        <classes>
            <class name="pageObject.test.Test3"></class>
        </classes>
    </test>
</suite>